{% extends 'base.html.twig' %}
{% block title %}Details cours{% endblock %}

{% block body %}
    {% include('site/navbar/navbar.html.twig') %}
    <div class="container z-depth-1 my-5 pt-5 pb-3 px-5">

        <!-- Section -->
        <section>

            <style>
                .fa-play:before {
                    margin-left: .3rem;
                }

                /* Steps */
                .step {
                    list-style: none;
                    margin: 0;
                }

                .step-element {
                    display: flex;
                    padding: 1rem 0;
                }

                .step-number {
                    position: relative;
                    width: 7rem;
                    flex-shrink: 0;
                    text-align: center;
                }

                .step-number .number {
                    color: #bfc5ca;
                    background-color: #eaeff4;
                    font-size: 1.5rem;
                }

                .step-number .number {
                    width: 48px;
                    height: 48px;
                    line-height: 48px;
                }

                .number {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 38px;
                    border-radius: 10rem;
                }

                .step-number::before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 48px;
                    bottom: -2rem;
                    margin-left: -1px;
                    border-left: 2px dashed #eaeff4;
                }

                .step .step-element:last-child .step-number::before {
                    bottom: 1rem;
                }
            </style>

            <h3 class="font-weight-bold text-center dark-grey-text pb-3">{{ cour.titre }}</h3>
            <div class="container">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ cour.id }}</td>
                    </tr>
                    <tr>
                        <th>Titre</th>
                        <td>{{ cour.titre }}</td>
                    </tr>
                    <tr>
                        <th>Url</th>
                        <td><a href="{{ cour.url }}">{{ cour.url }}</a></td>
                    </tr>
                    <tr>
                        <th>DateCreationCours</th>
                        <td>{{ cour.dateCreationCours }}</td>
                    </tr>
                    </tbody>
                </table>

                <a class="btn btn-primary" href="{{ path('condidat_listecours') }}">< Retour</a>
            </div>
        </section>
        <!-- Section -->

    </div>
    {% include('site/footer/footer.html.twig') %}
{% endblock %}