{% extends 'base.html.twig' %}
{% block title %} Affichage question{% endblock %}

{% block body %}
    {% include('site/navbar/navbar.html.twig') %}
    <div class="container" style="margin-top: 5%">
        <section>

            <style>
                .card-list li.page-item {
                    height: 36px;
                }

                .card-list .form-check-input[type="checkbox"] + label:before, .form-check-input[type="checkbox"]:not(.filled-in) + label:after, label.btn input[type="checkbox"] + label:before, label.btn input[type="checkbox"]:not(.filled-in) + label:after {
                    margin-top: 0;
                }

                .card-list .form-check-input[type="checkbox"] + label, label.btn input[type="checkbox"] + label {
                    height: 15px;
                }

                .card-list .form-check {
                    height: 0;
                }

                .card-list .badge {
                    height: 18px;
                    margin-top: 3px;
                }
            </style>
            <div class="container my-5">
                <!--Section: Content-->
                <section class="dark-grey-text text-center" style="margin-top: 7%">
                    <h3 class="font-weight-bold black-text mb-4 pb-2">{{ cour.titre }}</h3>
                    <!--First row-->
                    <div class="row">
                        <div class="card-body">

                            {{ form_start(form) }}
                            {{ form_widget(form.titre,{'attr':{'placeholder':'titre...','type':'text','class':'form-control mb-4'}}) }}
                            {{ form_widget(form.url,{'attr':{'placeholder':'url...','type':'text','class':'form-control mb-4'}}) }}
                            <div class="row">
                                <div class="col-12 text-left">
                                    <a href="{{ path('formateur_listecours') }}" class="btn btn-primary"
                                       style="color: white">< Retour</a>
                                    <button class="btn btn-success">{{ button_label|default('Enregister') }}</button>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                    <!--First row-->
                </section>


            </div>
        </section>
    </div>
    {% include('site/footer/footer.html.twig') %}
{% endblock %}
